<!DOCTYPE html>
html(lang="en" manifest="app2.manifest")
	head
		title= title
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(charset="utf-8")
		link(rel="shortcut icon" href="/favicon.ico")
		link(rel="shortcut icon" href="android-icon.png" sizes="196x196")
		link(rel="icon" type="image/png" href="/favicon.png" sizes="32x32")
		link(rel="apple-touch-icon" sizes="128x128" href="/apple-touch-icon.png")
		meta(name="msapplication-TileColor" content="#292b2c")
		meta(name="msapplication-TileImage" content="/mstile-144x144.png")
		meta(name="theme-color" content="#f0ad4e")
		link(rel="stylesheet" href="css/bootstrap.css")
		link(rel="stylesheet" href="css/font-awesome.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="/socket.io/socket.io.js")
		script(src="js/jquery.js")
		script(src="js/rivets.js")
		script(src="js/tether.js")
		script(src="js/bootstrap.js")
		script(src="js/cookie.js")
		script(src="js/i18n.js")
		script(src="js/socket.js")
		script(src="js/ui.js")
		script(src="js/main.js")
		script
			include ../assets/cache.js
	body#app
		div.bg
			img#bg-static(src="/img/bg-static.svg")
			img#bg-dynamic(src="/img/bg-dynamic.svg")
		div.modal.restarting(rv-show="_.restarting")
			div.backdrop
			div.modal-dialog
				div.modal-content.alert-danger
					div.modal-header
						h5.modal-title(rv-text="!.restarting0 | i18n | var")
						button.btn.btn-primary(type="button" data-toggle="modal" data-target="#modalSettings" data-backdrop="static")
							i.fa.fa-cog
					div.modal-body
						span(rv-text="!.restarting1 | i18n | var")
		div.modal.disconnect(rv-hide="_.connected" rv-hide-2="_.restarting")
			div.backdrop
			div.modal-dialog
				div.modal-content.alert-danger
					div.modal-header
						h5.modal-title(rv-text="!.disconnected0 | i18n | var")
						button.btn.btn-primary(type="button" data-toggle="modal" data-target="#modalSettings" data-backdrop="static")
							i.fa.fa-cog
					div.modal-body
						span(rv-text="!.disconnected1 | i18n | var")
		div.modal#modalErrorStr2Str
			div.modal-dialog
				div.modal-content
					div.modal-header
						h5.modal-title(rv-text="!.errorStr2Str0 | i18n | var")
					div.modal-body
						span(rv-text="!.errorStr2Str1 | i18n | var")
					div.modal-footer
						button(type="button" class="btn btn-secondary" data-dismiss="modal" rv-text="!.ok | i18n | var")
		div.modal#modalSettings
			div.modal-dialog
				div.modal-content
					div.modal-header
						h5.modal-title(rv-text="!.settings | i18n | var")
						button.btn.btn-danger#restoresettings(type="button" data-dismiss="modal")
							i.fa.fa-times
						button.btn.btn-success#savesettings(type="button" data-dismiss="modal")
							i.fa.fa-check
					div.modal-body
						div.row
							div.col-md-6.center.md-left
								i.fa.fa-globe
								span.btn(rv-text="!.language | i18n | var")
							div.col-md-6
								div.dropdown
									button.btn.btn-primary.dropdown-toggle.w100(type="button" data-toggle="dropdown" rv-langname="_.lang")
									div.dropdown-menu.w100#selectLanguage(rv-langactive="_.lang")
						div(rv-grayout="_.connected")
							div.grayouter
								span(rv-text="!.unavailablesettings | i18n | var")
							div.row.spacing
								div.col-md-6.center.md-left
									i.fa.fa-signal
									span.btn(rv-text="!.receiver | i18n | var")
								div.col-md-6
									div.dropdown(rv-dropdown="_._receiver" rv-data-type="0")
										button.btn.btn-primary.dropdown-toggle.w100(type="button" data-toggle="dropdown")
										div.dropdown-menu.w100
											a.dropdown-item(rv-data-dev="-1" rv-on-click="$.selectReceiver")
												span(rv-text="!.noselection | i18n | var")
											a.dropdown-item(rv-each-device="_.devices" rv-data-elem="index" rv-on-click="$.selectReceiver")
												span(rv-text="device.name")
							div.row.spacing
								div.col-md-6.center.md-left
									i.fa.fa-paper-plane
									span.btn(rv-text="!.transmitter | i18n | var")
								div.col-md-6
									div.dropdown(rv-dropdown="_._transmitter" rv-data-type="0")
										button.btn.btn-primary.dropdown-toggle.w100(type="button" data-toggle="dropdown")
										div.dropdown-menu.w100
											a.dropdown-item(rv-data-dev="-1" rv-on-click="$.selectTransmitter")
												span(rv-text="!.noselection | i18n | var")
											a.dropdown-item(rv-each-device="_.devices" rv-data-elem="index" rv-on-click="$.selectTransmitter")
												span(rv-text="device.name")
							div.row.spacing
								div.col-md-6.center.md-left
									i.fa.fa-bullhorn
									span.btn(rv-text="!.protocol | i18n | var")
								div.col-md-6
									div.dropdown(rv-dropdown="_._protocol" rv-data-type="1")
										button.btn.btn-primary.dropdown-toggle.w100(type="button" data-toggle="dropdown")
										div.dropdown-menu.w100
											a.dropdown-item(rv-each-protocol="_.protocols" rv-data-elem="index" rv-on-click="$.selectProtocol")
												span(rv-text="protocol")
							div.row.spacing
								div.col-md-6.center.md-left
									i.fa.fa-key
									span.btn(rv-text="!.wifipw | i18n | var")
								div.col-md-6
									input.form-control#wifipw(type="password" lang="en")
		nav.navbar.navbar-toggleable-md.navbar-inverse.bg-warning.fixed-top#nav
			button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar')
				span.navbar-toggler-icon
			span.navbar-brand
				img(src="/img/icon.svg")
				span= brand
			div.collapse.navbar-collapse#navbar
				ul.navbar-nav.mr-auto
					li.nav-item
						span.form-inline.mx-auto.my-2.my-lg-0.btn-group
							button.btn.selectMode(value="0" data-comp="mode" rv-btnprimary="_.mode")
								i.fa.fa-map-marker
								span(rv-text="!.mode0 | i18n | var")
							button.btn.selectMode(value="1" data-comp="mode" rv-btnprimary="_.mode")
								i.fa.fa-compass
								span(rv-text="!.mode1 | i18n | var")
					li.nav-item
						span.form-inline.mx-8.my-2.my-lg-0.btn-group
							button.btn.hasTooltip.selectSending(value="0" rv-btndanger="_.sending" data-toggle="tooltip" data-placement="bottom" rv-tooltip="!.str2strStop | i18n | var")
								i.fa.fa-power-off
							button.btn.hasTooltip.selectSending(value="1" rv-btnsuccess="_.sending" data-toggle="tooltip" data-placement="bottom" rv-tooltip="!.str2strStart | i18n | var")
								i.fa.fa-play
						span.form-inline.mx-2.my-2.my-lg-0.btn-group
							button.btn.hasTooltip.selectSending(value="2" rv-btnprimary="_.sending" rv-btnenabled="_.sending" data-toggle="tooltip" data-placement="bottom" rv-tooltip="!.str2strRestart | i18n | var")
								i.fa.fa-refresh
				span.form-inline.my-2.my-lg-0.btn-group
					button.btn.btn-primary(type="button" data-toggle="modal" data-target="#modalSettings" data-backdrop="static")
						i.fa.fa-cog
						span(rv-text="!.settings | i18n | var")
		div.container.body
			div.row.row-center
				div.col-md-6.content.spacing
					h3.text-uppercase(rv-text="!.currenttitle | i18n | var")
					table.table.table-hover
						tbody
							tr
								td
									span(rv-text="!.mode | i18n | var")
								td
									span(data-rv="mode" rv-i18n="_.mode")
							tr
								td
									span(rv-text="!.status | i18n | var")
								td
									span(data-rv="status" rv-i18n="_.status")
							tr
								td
									span(rv-text="!.lon | i18n | var")
								td
									span(rv-text="_.lon | coords")
							tr
								td
									span(rv-text="!.lat | i18n | var")
								td
									span(rv-text="_.lat | coords")
							tr
								td
									span(rv-text="!.alt | i18n | var")
								td
									span(rv-text="_.alt | meters")
				div.col-md-6.content.spacing
					div.container-fluid.hide#divLocation
						h3.text-uppercase(rv-text="!.locationtitle | i18n | var")
						div.input-group
							span.input-group-addon(rv-text="!.lon | i18n | var")
							input.form-control#selectLon(type="number" lang="en" step="any" value=0)
							span.input-group-addon °
						br
						div.input-group
							span.input-group-addon(rv-text="!.lat | i18n | var")
							input.form-control#selectLat(type="number" lang="en" step="any" value=0)
							span.input-group-addon °
						br
						div.input-group
							span.input-group-addon(rv-text="!.alt | i18n | var")
							input.form-control#selectAlt(type="number" lang="en" step="any" value=0)
							span.input-group-addon m
						br
						button.form-control.btn.btn-success.selectLocation(rv-text="!.locationupdate | i18n | var")
					div.container-fluid.hide#divPPP
						h3.text-uppercase(rv-text="!.ppptitle | i18n | var")
						div.hide#divPPPHint
							div.alert.alert-info.lead
								span(rv-text="!.locationhint | i18n | var")
							br
							button.form-control.btn.btn-success.selectMode(rv-text="!.pppstop | i18n | var" value="1")
						div.hide#divPPPSet
							div
								span(data-rv="ppp" rv-i18n="!.ppp")
							br
							button.form-control.btn.btn-success.selectMode(rv-text="!.pppstart | i18n | var" value="2")
		div.footer
			div.container
				ul.text-muted
					li
						a(href="http://nodegbs.hnzlmnn.de")
							i.fa.fa-home
							span
								| Homepage
					li
						a(href="https://gitlab.com/uni-hd/nodegbs")
							i.fa.fa-code
							span
								| Source Code
					li
						a(href="https://gitlab.com/uni-hd/nodegbs/issues")
							i.fa.fa-bug
							span
								| Issues
					li
						a(href="https://gitlab.com/uni-hd/nodegbs/wikis/home")
							i.fa.fa-book
							span
								| Wiki
				p.text-muted.f-left
					| Copyright&nbsp;
					i.fa.fa-copyright
					span
						| 2017 Malte Heinzelmann and Felix Richter. Licensed under &nbsp;
						a(href="https://gitlab.com/uni-hd/nodegbs/blob/master/LICENSE.md") MIT LICENSE
						| .
				div.text-muted.f-right
					span
						| Made with
					i.em
					i.fa.fa-heart
					span
						| and a lot of
					i.em
					i.fa.fa-coffee
					span
						| in Heidelberg.
				div.f-clear
