<!DOCTYPE html>
html(lang="en" manifest="app2.manifest")
  head
  body
    script
      | host="#{host}";
      | loc = window.location;
      | url = loc.protocol + "//" + host + (loc.port ? ":" + loc.port : "") + "/";
      | if (!window.location.href.startsWith(url)) {
      |   console.log(url);
      | 	window.location.href = url;
      | }
