@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    url('../fonts/Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    ;
    font-weight: 700;
    url('../fonts/Roboto-Bold.ttf') format('truetype')
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: auto;
}

body {
    text-align: center;
    color: #333;
    font-family: 'Roboto', Sans-Serif;
    background-color: #e6e6e6;
    overflow-y: visible;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.f-clear {
    clear: both;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 120px;
    /*
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url(../img/icon.svg);
  */
    z-index: -1;
    opacity: 0.1;
}

.bg img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.bg #bg-dynamic {
    animation-name: dronefly;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 1000;
}

@keyframes dronefly {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        transform: translateY(0px)
    }
}

.em {
    display: inline-block;
    width: 0.4em;
}

i.fa {
    width: 1.2em;
    text-align: center;
}

i.fa+*:not(.fa):before {
    display: inline-block;
    width: 0.4em;
    content: "";
}

*:hover>.fa.fa-cog, *:hover>.fa.fa-refresh, *:hover>.fa.fa-compass, *:hover>.fa.fa-globe {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

*:hover>.fa.fa-map-marker {
    -webkit-animation: fa-hop 0.5s infinite ease-in-out;
    animation: fa-hop 0.5s infinite ease-in-out;
}

*:hover>.fa.fa-check {
    -webkit-animation: fa-zoom 0.5s infinite ease-in-out;
    animation: fa-zoom 0.5s infinite ease-in-out;
}

.fa.fa-bug {
    transform: rotate(90deg);
}

*:hover>.fa.fa-bug {
    -webkit-animation: fa-bug 2s infinite ease-in-out;
    animation: fa-bug 2s infinite ease-in-out;
    color: #D34747 !important;
}

*:hover>.fa.fa-key {
    -webkit-animation: fa-key 2s infinite ease-in-out;
    animation: fa-key 2s infinite ease-in-out;
}

*:hover>.fa.fa-copyright {
    -webkit-animation: fa-copyright 2s infinite ease-in-out;
    animation: fa-copyright 2s infinite ease-in-out;
}

.fa.fa-heart {
    color: #D34747 !important;
}

*:hover>.fa.fa-heart {
    -webkit-animation: fa-heart 1.2s infinite ease-in-out;
    animation: fa-heart 1.2s infinite ease-in-out;
}

.fa.fa-coffee {
    color: #754B2A !important;
}

*:hover>.fa.fa-coffee {
    -webkit-animation: fa-coffee 0.4s infinite ease-in-out;
    animation: fa-coffee 0.4s infinite ease-in-out;
}

@keyframes fa-hop {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(-4px)
    }
    100% {
        transform: translateY(0px)
    }
}

@keyframes fa-zoom {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.5, 1.5)
    }
    100% {
        transform: scale(1, 1)
    }
}

@keyframes fa-bug {
    0% 2%, 100% {
        transform: translateX(0) rotate(90deg);
        margin-right: 0em;
    }
    35% {
        transform: translateX(1em) rotate(90deg);
        margin-right: 1em;
    }
    50%, 52% {
        transform: translateX(1em) rotate(-90deg);
        margin-right: 1em;
    }
    85% {
        transform: translateX(0) rotate(-90deg);
        margin-right: 0em;
    }
}

@keyframes fa-key {
    0%, 100% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    40%, 62% {
        transform: rotate3d(1, 1, 0, 180deg);
    }
}

@keyframes fa-copyright {
    0%, 100% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    40%, 62% {
        transform: rotate3d(1, 1, 0, 180deg);
    }
}

@keyframes fa-heart {
    0%, 30%, 40%, 70%, 100% {
        transform: scale(1, 1);
    }
    15%, 55% {
        transform: scale(1.5, 1.5);
    }
}

@keyframes fa-coffee {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

.disconnect {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1040;
}

.disconnect .backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.85;
}

.disconnect .modal-content {
    background-color: #ebcdcc;
    border-color: #dda8a7;
}

.disconnect .modal-header {
    border-bottom-color: #dda8a7;
}

.navbar {
    min-height: 60px;
}

.navbar-brand img {
    width: auto;
    height: 36px;
}

.navbar .collapse.show {
    min-height: 100%;
    /* TODO: Set parent height */
}

.navbar .nav-item {
    margin-right: 20px;
}

.navbar .nav-item:last-child {
    margin-right: 0px;
}

.navbar .collapsing .nav-item, .navbar .collapse.show .nav-item {
    margin-right: 0px;
}

.body {
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 120px;
}

.spacing {
    margin-top: 20px;
}

.hide {
    display: none !important;
}

.left {
    text-align: left;
}

@media (min-width: 768px) {
    .md-left {
        text-align: left;
    }
}

.right {
    text-align: right;
}

.modal-dialog {
    max-width: 800px;
}

.modal-header h5 {
    text-align: left;
    width: 100%;
}

.modal-header button {
    margin-left: 8px;
}

.w100 {
    width: 100%;
}

.content {
    background-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-center {
    justify-content: center;
}

.grayout {
    position: relative;
}

.grayouter {
    display: none;
}

.grayouter span {
    text-align: center;
}

.grayout>.grayouter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -5px;
    right: -5px;
    top: -5px;
    bottom: -5px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

#modalSettings.show {
    display: flex !important;
}

@@media (min-width: 576px) {
    #modalSettings.show {
        display: block !important;
    }
}

#modalSettings .modal-dialog {
    display: flex;
    align-items: stretch;
    width: 100%;
}

#modalSettings .modal-content {
    align-items: stretch;
    width: 100%;
}

#modalSettings .modal-body {
    overflow-y: auto;
}

.btn, select, a.dropdown-item {
    cursor: pointer;
}

.table th, .table td {
    border: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #d6d6d6;
    padding-top: 20px;
    padding-bottom: 1px;
    text-align: left;
    overflow-y: hidden;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
    font-weight: bold;
}

.footer ul li {
    display: inline-block;
}

.footer ul li+li {
    margin-left: 20px;
}

.footer a, .footer a:link, .footer a:visited {
    color: #464a4c;
    text-decoration: none;
}

.footer a:active, .footer a:hover {
    color: #0275d8;
    text-decoration: none;
}

.footer p {
    font-size: 85%;
}

.footer p a, .footer p a:link, .footer p a:visited {
    font-weight: bold;
}

.hide-2 {
    display: none;
}